$badge-font-size:               .75em;
$badge-font-weight:             $font-weight-bold;
$badge-color:                   #fff;
$badge-padding-y:               .5em;
$badge-padding-x:               .875em;
$badge-border-radius:           $border-radius-sm;