$navbar-padding-y:                  0;
$navbar-padding-x:                  null;
$navbar-nav-link-padding-x:         1.36rem;

$nav-link-height:                   2rem;
$nav-link-font-weight:              400;

$navbar-dark-color:                 rgba(#fff, .55);
$navbar-dark-hover-color:           rgba(#fff, .75);
$navbar-dark-active-color:          #fff;
$navbar-dark-disabled-color:        rgba(#fff, .25);

$navbar-light-color:                #424242;
$navbar-light-hover-color:          rgba(#000, .7);
$navbar-light-active-color:         rgba(#000, .9);
$navbar-light-disabled-color:       rgba(#000, .3);

$navbar-light-brand-color:          rgba(#000, .55);
$navbar-light-brand-hover-color:    rgba(#000, .7);
$navbar-dark-brand-color:           rgba(#000, .9);
$navbar-dark-brand-hover-color:     rgba(#000, .3);