$table-cell-padding-y:               .8rem;
$table-th-font-weight:               700;
$table-bg:                           transparent;
$table-striped-bg:                   lighten($light, 2.3%);
$table-border-width:                 1px;