<!-- breadcrumb content begin -->
<section class="section-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-md-row justify-content-end align-items-center">
                <h1 class="display-5 my-0 me-0 me-md-4">{{title}}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb content end -->