<!-- section content begin -->
<section class="py-4 in-stena-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row d-flex">
                    <div class="col-3">
                        <div class="image-decor">
                            <img class="img-fluid d-block bg-client rounded-3" src="img/blockit/in-team-7.png" alt="client-testimoni" width="116" height="116">
                        </div>
                    </div>
                    <div class="col-9">
                        <blockquote class="blockquote">
                            <p class="h3">The whole process was seamless and very easy. The best part of it is the actual annualised return on the investment.</p>
                        </blockquote>
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h5 class="mt-2 mb-0">Howard Lane</h5>
                                <p class="text-muted">Stena Investor since 2017</p>
                            </div>
                            <div class="d-none d-md-block">
                                <a href="#" class="btn btn-primary">Read the story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->