<!-- section content begin -->
<section class="pt-3 pb-4 in-stena-9">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 gy-2 gy-md-0 mb-3 mb-md-0">
            <div class="col">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="icon-wrap icon-wrap-small bg-primary rounded-1 flex-shrink-0 me-2">
                        <i class="fas fa-check"></i>
                    </div>
                    <h2 class="h6 mb-0">Unparalleled Trading Conditions</h2>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="icon-wrap icon-wrap-small bg-primary rounded-1 flex-shrink-0 me-2">
                        <i class="fas fa-check"></i>
                    </div>
                    <h2 class="h6 mb-0">Globally Licensed &amp; Regulated</h2>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="icon-wrap icon-wrap-small bg-primary rounded-1 flex-shrink-0 me-2">
                        <i class="fas fa-check"></i>
                    </div>
                    <h2 class="h6 mb-0">Committed to Forex Education</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 gy-2 gy-lg-0 gx-2 mt-md-2 mt-lg-5">
            <div class="col">
                <div class="card card-body bg-blue h-100">
                    <p class="fw-bold mb-1">User friendly and enhanced trading app</p>
                    <p class="mb-0">Omnis cupiditate quam, harum et perspiciatis doloremque impedit molestias nesciunt dolore earum laborum sed.</p>
                    <img src="img/in-stena-9-image-1.png" alt="image" width="506" height="329">
                </div>
            </div>
            <div class="col">
                <div class="card card-body bg-purple mb-3">
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                        <div class="my-2">
                            <p class="fw-bold mb-1">We're here to help whenever you need it</p>
                            <p>No matter what financial questions you have, we're here to work with you on your terms.</p>
                            <div class="d-flex align-items-center mt-1 mb-1">
                                <div class="icon-wrap icon-wrap-small bg-white rounded-circle flex-shrink-0 me-1">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <p class="mb-0 text-purple">1-800-123-4567</p>
                                <div class="icon-wrap icon-wrap-small bg-white rounded-circle flex-shrink-0 ms-3 me-1">
                                    <i class="fas fa-message"></i>
                                </div>
                                <p class="mb-0 text-purple">Live chat</p>
                            </div>
                        </div>
                        <img src="img/in-stena-9-image-2.png" alt="image" width="180" height="200">
                    </div>
                </div>
                <div class="card card-body bg-salmon">
                    <div class="d-flex flex-column flex-md-row align-items-center">
                        <div class="my-2">
                            <p class="fw-bold mb-1">Popular cryptocurrencies</p>
                            <p class="mb-1">The largest cryptocurrencies by the total dollar value.</p>
                            <a href="#" class="btn btn-link text-decoration-none px-0">Learn more<i class="fas fa-circle-chevron-right ms-1"></i></a>
                        </div>
                        <img src="img/in-stena-9-image-3.png" alt="image" width="304" height="200">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->