<!-- section content begin -->
<section class="pt-4 pb-3 in-stena-16">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="text-center">
                    <span class="small text-uppercase text-muted">Trusted broker with a proven record</span>
                    <h1 class="mt-1 mb-0"><span class="text-highlight">Trusted</span> by many investors in the world</h1>
                </div>
                <div class="row row-cols-1 row-cols-lg-3 gx-2 gy-2 gy-lg-0 mt-0 mt-md-3 mb-1">
                    <div class="col">
                        <div class="card card-body">
                            <blockquote class="blockquote text-muted mb-4">
                                <p>I am very happy with the professionalism and the effectiveness of my account manager.</p>
                            </blockquote>
                            <div class="d-flex align-items-center">
                                <div class="image-decor">
									<img class="img-fluid d-block bg-client rounded-1" src="img/blockit/in-team-4.png" alt="client-testimoni" width="48" height="48">
								</div>
                                <div class="ms-1">
                                    <h3 class="h6 mb-0">James Alves</h3>
                                    <span class="blockquote-footer">Member since 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body">
                            <blockquote class="blockquote text-muted mb-4">
                                <p>The whole process was seamless and very easy. I am satisfied with the service &amp; advice of Stena.</p>
                            </blockquote>
                            <div class="d-flex align-items-center">
                                <div class="image-decor">
									<img class="img-fluid d-block bg-client rounded-1" src="img/blockit/in-team-9.png" alt="client-testimoni" width="48" height="48">
								</div>
                                <div class="ms-1">
                                    <h3 class="h6 mb-0">Gary Burley</h3>
                                    <span class="blockquote-footer">Member since 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body">
                            <blockquote class="blockquote text-muted mb-4">
                                <p>Monitor the performance, switch funds and add to the investment with little or no hassle.</p>
                            </blockquote>
                            <div class="d-flex align-items-center">
                                <div class="image-decor">
									<img class="img-fluid d-block bg-client rounded-1" src="img/blockit/in-team-5.png" alt="client-testimoni" width="48" height="48">
								</div>
                                <div class="ms-1">
                                    <h3 class="h6 mb-0">Steven Riggs</h3>
                                    <span class="blockquote-footer">Member since 2014</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center mt-3">
                        <a href="#" class="btn btn-link text-decoration-none px-0">See other stories<i class="fas fa-circle-chevron-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->