<!-- section content begin -->
<section class="py-3 in-stena-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-2">
                <span class="small text-uppercase text-muted">Stay ahead of the curve</span>
                <h1 class="mt-1">Follow the latest news!</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2 gy-md-3 mb-5">
            <div class="col-lg-6">
                <div class="card card-body bg-light news-list">
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-center">
                            <img src="img/in-stena-4-news-1.jpg" alt="symbol" width="108" height="84">
                            <div>
                                <a href="#" class="h6">BlackRock responds to George Soros’ criticism over China investments</a>
                                <span><i class="fas fa-clock-rotate-left me-1"></i>1 hours ago</span>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="img/in-stena-4-news-2.jpg" alt="symbol" width="108" height="84">
                            <div>
                                <a href="#" class="h6">Bitcoin ‘whales’ jump back into market during cryptocurrency’s rebound to $50,000</a>
                                <span><i class="fas fa-clock-rotate-left me-1"></i>6 hours ago</span>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="img/in-stena-4-news-3.jpg" alt="symbol" width="108" height="84">
                            <div>
                                <a href="#" class="h6">European markets head for lower open ahead of European Central Bank meeting</a>
                                <span><i class="fas fa-clock-rotate-left me-1"></i>8 hours ago</span>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-link text-decoration-none mx-auto">See more news<i class="fas fa-circle-chevron-right ms-1"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-body tradingview-card">
                    <div id="tradingview-widget"></div>
                </div>
            </div>
            <div class="col">
                <div class="card card-body stock-price up">
                    <div class="d-flex justify-content-between">
                        <img src="img/in-stena-4-symbol-1.svg" alt="symbol" width="83" height="19">
                        <div>
                            <span><i class="fas fa-arrow-trend-up"></i>2,277.84</span>
                            <small>(0.11%)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-body stock-price up">
                    <div class="d-flex justify-content-between">
                        <img src="img/in-stena-4-symbol-2.svg" alt="symbol" width="84" height="18">
                        <div>
                            <span><i class="fas fa-arrow-trend-up"></i>272.42</span>
                            <small>(0.20%)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-body stock-price down">
                    <div class="d-flex justify-content-between">
                        <img src="img/in-stena-4-symbol-3.svg" alt="symbol" width="84" height="17">
                        <div>
                            <span><i class="fas fa-arrow-trend-down"></i>188.64</span>
                            <small>(2.58%)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-body stock-price down">
                    <div class="d-flex justify-content-between">
                        <img src="img/in-stena-4-symbol-4.svg" alt="symbol" width="73" height="17">
                        <div>
                            <span><i class="fas fa-arrow-trend-down"></i>101.22</span>
                            <small>(0.63%)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="trustpilot-widget mb-3" data-locale="en-GB" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="561d886b0000ff0005844fd6" data-style-height="28px"
                    data-style-width="100%" data-theme="light">
                    <a href="https://uk.trustpilot.com/review/pepperstone.com" target="_blank" rel="noopener noreferrer">Trustpilot</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->