<!-- section content begin -->
<section class="py-3 in-stena-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-body bg-secondary border-0">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-4 gy-lg-0">
                        <div class="col text-center">
                            <i class="fas fa-users"></i>
                            <h2 class="mt-2 mb-0 text-white">50K+</h2>
                            <p class="my-0">Trusted clients</p>
                        </div>
                        <div class="col text-center">
                            <i class="fas fa-chart-pie"></i>
                            <h2 class="mt-2 mb-0 text-white">75M+</h2>
                            <p class="my-0">Assets management</p>
                        </div>
                        <div class="col text-center">
                            <i class="fas fa-money-bill-wave"></i>
                            <h2 class="mt-2 mb-0 text-white">280+</h2>
                            <p class="my-0">Trading instruments</p>
                        </div>
                        <div class="col text-center">
                            <i class="fas fa-gauge-high"></i>
                            <h2 class="mt-2 mb-0 text-white">~30ms</h2>
                            <p class="my-0">Executions speed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->