<!-- section content begin -->
<section class="py-4 in-stena-11">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2 gy-md-0">
            <div class="col-md-12 col-lg-12 mb-n1 mb-md-2">
                <span class="small text-uppercase text-muted">Elevate your experience</span>
                <h1 class="mt-1">Tight spreads and <span class="text-highlight">ultra-fast</span> execution</h1>
            </div>
            <div class="col">
                <div class="icon-wrap bg-purple rounded-1 flex-shrink-0 me-2">
                    <i class="fas fa-ranking-star"></i>
                </div>
                <div class="mt-1">
                    <h3 class="h5">Tier 1 liquidity</h3>
                    <p>Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir officia</p>
                </div>
            </div>
            <div class="col">
                <div class="icon-wrap bg-blue rounded-1 flex-shrink-0 me-2">
                    <i class="fas fa-shield"></i>
                </div>
                <div class="mt-1">
                    <h3 class="h5">Safe and Secure</h3>
                    <p>Duis aute irure dolor proident reprehenderit in voluptate velit cillum dolore fugiat</p>
                </div>
            </div>
            <div class="col">
                <div class="icon-wrap bg-green rounded-1 flex-shrink-0 me-2">
                    <i class="fas fa-mobile-screen-button"></i>
                </div>
                <div class="mt-1">
                    <h3 class="h5">Innovative platform</h3>
                    <p>Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir officia</p>
                </div>
            </div>
            <div class="col">
                <div class="icon-wrap bg-salmon rounded-1 flex-shrink-0 me-2">
                    <i class="fas fa-percent"></i>
                </div>
                <div class="mt-1">
                    <h3 class="h5">Low Commissions</h3>
                    <p>Duis aute irure dolor proident reprehenderit in voluptate velit cillum dolore fugiat</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-12 col-lg-10">
                <div class="row gx-0">
                    <div class="col-md-12 col-lg-2 border-end-lg d-flex align-items-center justify-content-center justify-content-md-center justify-content-lg-start">
                        <h6 class="fw-bold text-muted text-center mb-md-2 mb-lg-0">Featured on</h6>
                    </div>
                    <div class="col-md-12 col-lg-10">
                        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 gx-0">
                            <div class="col text-center">
                                <img class="my-2 my-md-1 my-lg-1" src="img/in-stena-press-1.svg" alt="press-logo" width="128" height="21">
                            </div>
                            <div class="col text-center">
                                <img class="my-2 my-md-1 my-lg-1" src="img/in-stena-press-2.svg" alt="press-logo" width="128" height="23">
                            </div>
                            <div class="col text-center">
                                <img class="my-2 my-md-1 my-lg-1" src="img/in-stena-press-3.svg" alt="press-logo" width="127" height="24">
                            </div>
                            <div class="col text-center">
                                <img class="my-2 my-md-1 my-lg-1" src="img/in-stena-press-4.svg" alt="press-logo" width="126" height="30">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->