<!-- section content begin -->
<section class="py-4 in-stena-15">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="image-decor mb-2">
                    <img src="img/in-stena-15-image.png" alt="client-testimoni" width="281" height="186">
                </div>
                <span class="small text-uppercase text-muted">Stena academy</span>
                <h1 class="mt-1"><span class="text-highlight">The help</span> you need, when you need.</h1>
                <p>Our online trading education is divided into four sections according to experience level.</p>
            </div>
            <div class="col-12 col-lg-8 mt-2 mt-lg-0">
                <div class="row row-cols-1 row-cols-md-2 gx-2 gy-2">
                    <div class="col">
                        <div class="card card-body bg-blue">
                            <div class="d-flex justify-content-between">
                                <div class="icon-wrap rounded-1 flex-shrink-0 me-2">
                                    <i class="fas fa-clipboard-list"></i>
                                </div>
                                <a href="#" class="btn btn-link text-decoration-none px-0">Learn more<i class="fas fa-circle-chevron-right ms-1"></i></a>
                            </div>
                            <div class="mt-2">
                                <h3 class="h5 mb-1">Trader's glossary</h3>
                                <p class="mb-1">Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body bg-purple">
                            <div class="d-flex justify-content-between">
                                <div class="icon-wrap rounded-1 flex-shrink-0 me-2">
                                    <i class="fas fa-video"></i>
                                </div>
                                <a href="#" class="btn btn-link text-decoration-none px-0">Learn more<i class="fas fa-circle-chevron-right ms-1"></i></a>
                            </div>
                            <div class="mt-2">
                                <h3 class="h5 mb-1">Tutorial videos</h3>
                                <p class="mb-1">Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body bg-green">
                            <div class="d-flex justify-content-between">
                                <div class="icon-wrap rounded-1 flex-shrink-0 me-2">
                                    <i class="fas fa-file-pdf"></i>
                                </div>
                                <a href="#" class="btn btn-link text-decoration-none px-0">Learn more<i class="fas fa-circle-chevron-right ms-1"></i></a>
                            </div>
                            <div class="mt-2">
                                <h3 class="h5 mb-1">E-Book products</h3>
                                <p class="mb-1">Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body bg-salmon">
                            <div class="d-flex justify-content-between">
                                <div class="icon-wrap rounded-1 flex-shrink-0 me-2">
                                    <i class="fas fa-microphone-alt"></i>
                                </div>
                                <a href="#" class="btn btn-link text-decoration-none px-0">Learn more<i class="fas fa-circle-chevron-right ms-1"></i></a>
                            </div>
                            <div class="mt-2">
                                <h3 class="h5 mb-1">Live commentary</h3>
                                <p class="mb-1">Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->