// Theme Colors
$primary: #418AE3;
$secondary: #2B2B2B;
$success: #3BD297;
$info: #93C4F6;
$warning: #F89F5F;
$danger: #EE4F6F;
$light: #F2F4F6;
$dark: #424242;
$background: #FFFFFF;
$body: #656565;
$link: #418AE3;