<!-- section content begin -->
<section class="py-4 in-stena-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="d-flex flex-column flex-lg-row justify-content-between">
                    <h1>Begin investing in three steps</h1>
                    <div>
                        <a href="#"><img src="img/in-app-store.svg" alt="app-store" width="119" height="40"></a>
                        <a href="#" class="ms-1"><img src="img/in-google-play.svg" alt="google-play" width="135" height="40"></a>
                    </div>
                </div>
                <div class="d-flex flex-column flex-lg-row mt-3 mt-lg-2">
                    <img src="img/in-stena-3-mockup.png" class="mockup img-fluid" alt="image-mockup" width="614" height="408">
                    <div class="order-first">
                        <div class="card card-body invest-step">
                            <div class="col d-flex align-items-start">
                                <div class="icon-wrap bg-purple rounded-1 flex-shrink-0 me-2">
                                    <i class="fas fa-file-contract"></i>
                                </div>
                                <div>
                                    <h3 class="h5 mb-1">Register</h3>
                                    <p class="mb-0">Choose an account type and submit your application.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body invest-step">
                            <div class="col d-flex align-items-start">
                                <div class="icon-wrap bg-purple rounded-1 flex-shrink-0 me-2">
                                    <i class="fas fa-money-bill-wave"></i>
                                </div>
                                <div>
                                    <h3 class="h5 mb-1">Fund</h3>
                                    <p class="mb-0">Fund your account using a wide range of funding methods.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body invest-step">
                            <div class="col d-flex align-items-start">
                                <div class="icon-wrap bg-purple rounded-1 flex-shrink-0 me-2">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div>
                                    <h3 class="h5 mb-1">Invest</h3>
                                    <p class="mb-0">Access 280+ instruments across all asset classes on App.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->