<!-- section content begin -->
<section class="py-4 in-stena-14">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="text-center">
                    <span class="small text-uppercase text-muted">Getting started is easy</span>
                    <h1 class="mt-1 mb-0">Fast account opening in 4 <span class="text-highlight">simple steps</span></h1>
                    <p class="lead text-muted mt-0">Consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
                <div class="row row-cols-1 row-cols-md-2 gy-2 gy-md-3 mt-2 mb-1">
                    <div class="col d-flex align-items-start">
                        <div class="icon-wrap bg-primary rounded-1 flex-shrink-0 me-2">
                            <p class="h5 mb-0 text-primary">1</p>
                        </div>
                        <div>
                            <h3 class="h5">Create an account</h3>
                            <p>Lorem ipsum dolor si amet consectetur adipisci elitsed do eiusmod tempor incididunt labore dolore.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div class="icon-wrap bg-primary rounded-1 flex-shrink-0 me-2">
                            <p class="h5 mb-0 text-primary">2</p>
                        </div>
                        <div>
                            <h3 class="h5">Prove you're real</h3>
                            <p>Lorem ipsum dolor si amet consectetur adipisci elitsed do eiusmod tempor incididunt labore dolore.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div class="icon-wrap bg-primary rounded-1 flex-shrink-0 me-2">
                            <p class="h5 mb-0 text-primary">3</p>
                        </div>
                        <div>
                            <h3 class="h5">Fund your account</h3>
                            <p>Lorem ipsum dolor si amet consectetur adipisci elitsed do eiusmod tempor incididunt labore dolore.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div class="icon-wrap bg-primary rounded-1 flex-shrink-0 me-2">
                            <p class="h5 mb-0 text-primary">4</p>
                        </div>
                        <div>
                            <h3 class="h5">Start your trade</h3>
                            <p>Lorem ipsum dolor si amet consectetur adipisci elitsed do eiusmod tempor incididunt labore dolore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->