<!-- section content begin -->
<section class="py-4 in-stena-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11">
                <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 align-items-center">
                    <div class="col d-flex justify-content-center">
                        <div class="image-decor mb-3 mb-lg-0">
                            <img src="img/in-stena-10-image.png" alt="image" width="360" height="390">
                        </div>
                    </div>
                    <div class="col">
                        <h1>Why investors and traders <span class="text-highlight">choose Stena</span></h1>
                        <p class="mb-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum magni dolores eos</p>
                        <div class="row row-cols-1 row-cols-md-2 gy-4 mb-2">
                            <div class="col">
                                <div class="border-start border-5 ps-2">
                                    <h3 class="count mb-0" data-counter-end="20" data-counter-append=" years">0 years</h3>
                                    <small class="text-muted text-uppercase">experience since 2000</small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="border-start border-5 ps-2">
                                    <h3 class="count mb-0" data-counter-end="16" data-counter-append=" years">0 years</h3>
                                    <small class="text-muted text-uppercase">UK regulated since 2005</small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="border-start border-5 ps-2">
                                    <h3 class="count mb-0" data-counter-end="180" data-counter-append=" k">0 k</h3>
                                    <small class="text-muted text-uppercase">transaction per day</small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="border-start border-5 ps-2">
                                    <h3 class="count mb-0" data-counter-end="24" data-counter-append=" /5">0 /5</h3>
                                    <small class="text-muted text-uppercase">customer support</small>
                                </div>
                            </div>
                        </div>
                        <span class="badge bg-primary me-1">Start trade</span><small class="text-muted">Connect with over 5 millions investors in the world’s leading broker</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->