<!-- section content begin -->
<section class="py-4 in-stena-6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-body bg-secondary border-0">
                    <div class="row row-cols-1 row-cols-lg-2 d-flex align-items-center">
                        <div class="order-last order-lg-first col">
                            <img src="img/in-stena-6-mockup.png" alt="image" width="478" height="400">
                        </div>
                        <div class="order-first order-lg-last col py-3">
                            <div class="mt-n4 mb-4">
                                <a href="#"><img src="img/in-app-store.svg" alt="app-store" width="119" height="40"></a>
                                <a href="#" class="ms-1"><img src="img/in-google-play.svg" alt="google-play" width="135" height="40"></a>
                            </div>
                            <h1 class="text-white">Platform by investors,<br>for investors</h1>
                            <p class="text-white mb-3">Seize your opportunity, with technology built designed to ensure that your deal goes through.</p>
                            <a href="#" class="btn btn-link text-decoration-none px-0">Learn more<i class="fas fa-circle-chevron-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->