<!-- slideshow content begin -->
<section>
    <div id="slideshow" class="carousel slide" data-bs-ride="carousel" style="background: url(img/in-slideshow-bg.webp) no-repeat bottom center;">
        <div class="carousel-inner">
            {{slide-id}}
        </div>
    </div>
</section>
<!-- slideshow content end -->