<div class="carousel-item">
    <div class="carousel-caption d-flex">
        <div class="container position-relative">
            <div class="row row-cols-1 row-cols-md-2 gx-md-0 gx-lg-5 align-items-md-end">
                <div class="order-first">
                    <h1 class="text-primary">Everyone’s an Investor</h1>
                    <p class="fw-bold lead">Get an easy-to-use platform, expert trade ideas and friendly support as standard.</p>
                    <div class="d-flex my-4 btn-hide-wrap">
                        <a href="#" class="btn btn-primary">Open an Account</a>
                        <a href="#" class="btn btn-link text-decoration-none ms-1 d-none d-lg-block">Try demo Account<i class="fas fa-circle-chevron-right ms-1"></i></a>
                    </div>
                    <p class="fw-bold mb-1 d-none d-lg-block">Fast and easy Deposit with:</p>
                    <div class="card card-body d-none d-lg-block mb-3">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li>
                                <img src="img/in-slideshow-payment-1.svg" alt="payment" width="35" height="22">
                            </li>
                            <li>
                                <img src="img/in-slideshow-payment-2.svg" alt="payment" width="52" height="17">
                            </li>
                            <li>
                                <img src="img/in-slideshow-payment-3.svg" alt="payment" width="71" height="19">
                            </li>
                            <li>
                                <img src="img/in-slideshow-payment-4.svg" alt="payment" width="57" height="17">
                            </li>
                            <li>
                                <img src="img/in-slideshow-payment-5.svg" alt="payment" width="92" height="16">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="order-last">
                    <img src="img/in-slideshow-image-1.jpg" class="in-slide-image center-side" alt="slide" width="500" height="653">
                    <img src="img/in-slideshow-image-2.png" class="in-slide-image left-side" alt="slide" width="289" height="304">
                    <img src="img/in-slideshow-image-3.png" class="in-slide-image right-side" alt="slide" width="281" height="294">
                </div>
            </div>
        </div>
    </div>
</div>